.siteTitle {
  color: #f2f2f2;
}

.navigation {
  margin: 0.5em;
  background-color: #333333;
  overflow: hidden;
  text-align: center;
}

.navLink {
  margin-left: 0.5em;
  margin-right: 0.5em;
  float: left;
  display: block;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-decoration: none;
  color: #f2f2f2;
  transition: 0.4s;
}

.navLink:hover {
  background-color: #f2f2f2;
  color: black;
}

.active {
  background-color: #bfbfbf;
  color: black;
}

.grid {
  margin: 0.5em;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
}

.leftCol {
  grid-column: 1;
  padding: 1em;
}

.leftCol h3 {
  margin: 0;
}

.mainContent {
  grid-column: 2;
  padding: 1em;
}

.rightCol {
  text-align: center;
  grid-column: 3 / span 1;
  padding: 1em;
}
